<div class='modal-card'>
	<form action="/collection/create" method="post">
		<header class='modal-card-head'>
			<p class='modal-card-title'>Create a collection</p>

		</header>
		<section class='modal-card-body'>
			<label class='label'>Name</label>
			<p class='control has-icon has-icon-right'>
				<input class='input' placeholder='Collection name' type='text' name="name" />
			</p>
			<label class='label'>Description</label>
			<p class='control'>
				<textarea class='textarea' placeholder='Describe Yourself!' name="description"></textarea>
			</p>
		</section>
		<footer class='modal-card-foot'>
			<button class='button is-primary modal-save'>Create</button>
			<a class='button modal-cancel'
			href='/profile/{{username}}'
			>Cancel</a>
		</footer>
	</form>
</div>