<div class='homepage-wrapper'>

</div>

<div class='homepage'>

	{{#if session.currentUser}}
		<nav class='level'>
			<div class='level-item has-text-centered'>
				<div class='my-6'>

					<h1 class='subtitle is-1 my-6'>Welcome, {{session.currentUser.username}}</h1>
					<h2 class='subtitle is-2'>{{title}}</h2>

				</div>
			</div>

		</nav>
		<div class='container'>{{description}}</div>
	{{/if}}

</div>
