<div class='homepage-wrapper'>

</div>
<div style='color:white'>
	<img src='{{data.main_picture.medium}}' alt='{{data.title}}' />

	<h1>
		{{data.title}}
	</h1>

	<h2>Alternative title: {{data.alternative_titles.en}}</h2>

</div>
