<html>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		<title>Chapter Verse</title>
		<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css' />
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script defer src='https://accounts.google.com/gsi/client' async></script>
		<script defer src='https://use.fontawesome.com/releases/v5.3.1/js/all.js'></script>
		<script defer src='../js/script.js'></script>
		<script defer src='https://apis.google.com/js/api.js'></script>
	</head>
	<body>
		<nav class='navbar' role='navigation' aria-label='main navigation'>
			<div class='navbar-brand'>
				<a class='navbar-item no-hover' href='/'>
					<img id='logo' src='../images/logo.png' width='28' height='68' />
				</a>

				<a role='button' class='navbar-burger' aria-label='menu' aria-expanded='false' data-target='navbarBasicExample'>
					<span aria-hidden='true'></span>
					<span aria-hidden='true'></span>
					<span aria-hidden='true'></span>
				</a>
			</div>

			<div id='navbarBasicExample' class='navbar-menu'>
				<div class='navbar-start'>

					<a class='navbar-item mx-4'>
						Mangas
					</a>

					<div class='navbar-item has-dropdown' onclick="javascript: classList.toggle('is-active')">
						<a class='navbar-link mx-4'>
							More
						</a>

						<div class='navbar-dropdown'>
							<a class='navbar-item'>
								About
							</a>

							<a class='navbar-item'>
								Contact
							</a>
							<hr class='navbar-divider' />
							<a class='navbar-item'>
								Report an issue
							</a>
						</div>
					</div>
				</div>
				{{#if session.currentUser}}
					<div class='navbar-end'>
						<div class='buttons'>
							<form action='/profile/{{session.currentUser.username}}' style='margin:0;'>
								<button class='button is-link is-inverted mr-4 is-size-5 no-hover'>{{session.currentUser.username}}</button>
							</form>
							<form action='/logout' method='POST' style='margin:0;'>
								<button class='button is-danger is-inverted mr-4 is-size-5 no-hover'>Logout</button>
							</form>
						</div>
					</div>

				{{else}}
					<div class='navbar-end'>
						<div class='buttons'>

							<a href='/login' class='button is-primary mr-4'>Login</a>
						</div>
					</div>
				{{/if}}
			</div>
		</nav>
		{{{body}}}
	</body>
</html>
