<form action='/login' method='POST'>
	<div class='columns is-flex is-flex-direction-column is-align-items-center my-6'>

		<div class='column is-4'>
			<div class='field'>
				<p class='subtitle is-3 has-text-centered white mb-5'>Sign In</p>
			</div>

			<div class='field'>
				<p class='control has-icons-left has-icons-right'>
					<input class='input is-medium' type='text' name='username' placeholder='Username' />
					<span class='icon is-small is-left'>
						<i class='fas fa-user'></i>
					</span>
				</p>
			</div>
		</div>
		<div class='column is-4'>
			<div class='field'>
				<p class='control has-icons-left'>
					<input class='input is-medium' type='password' name='password' placeholder='Password' />
					<span class='icon is-small is-left'>
						<i class='fas fa-lock'></i>
					</span>
				</p>
			</div>
		</div>
		{{#if errorMessage}}
			<div class='column'>
				<div class='field'>
					<div class='notification is-danger is-light has-text-centered'>
						{{errorMessage}}
					</div>

				</div>
			</div>
		{{/if}}
		{{#if message}}
			<div class='column'>
				<div class='field'>
					<div class='notification is-success has-text-centered'>
						Account created successfuly. You can now Sign In.
					</div>
				</div>
			</div>
		{{/if}}
		<div class='column is-flex is-justify-content-center'>
			<div class='field'>
				<p class='control'>
					<button class='button is-success px-5'>
						Sign In
					</button>
				</p>
			</div>
		</div>
		<div class='column is-flex is-justify-content-center has-text-centered is-size-5'>
			<div class='field'>
				<p class='white'>Dont have an account?</p>
				<a href='/register'>Register</a>
			</div>
		</div>

	</div>

</form>
<div class='columns is-flex is-flex-direction-column is-align-items-center my-6'>

	<div class='column is-4 is-flex is-justify-content-center'>
		<div
			id='g_id_onload'
			data-client_id='664560957233-qoi9j435d0dt957e2lr343b3bajl1ueq.apps.googleusercontent.com'
			data-login_uri='https://localhost:3000/login'
			data-auto_prompt='false'
		>
		</div>
		<div
			class='g_id_signin'
			data-type='standard'
			data-size='large'
			data-theme='outline'
			data-text='sign_in_with'
			data-shape='rectangular'
			data-logo_alignment='left'
		>
		</div>
	</div>
</div>

<script>
	function handleCredentialResponse(response) { console.log("Encoded JWT ID token: " + response.credential); }
	window.onload = function () { google.accounts.id.initialize({ client_id:
	"664560957233-qoi9j435d0dt957e2lr343b3bajl1ueq.apps.googleusercontent.com", callback: handleCredentialResponse })};
	google.accounts.id.renderButton( document.getElementById("buttonDiv"), { theme: "outline", size: "large" } //
	customization attributes ); google.accounts.id.prompt(); // also display the One Tap dialog }
</script>
<div id='buttonDiv'></div>
