<form action='/login' method='POST'>
	<div class='columns is-flex is-flex-direction-column is-centered my-6'>
		<div class='container my-6'>
			<div class='column'>
				<div class='field'>
					<p class='subtitle is-3 has-text-centered'>Sign In</p>
				</div>
				<div class='field'>
					{{#if errorMessage}}
						<div class='notification is-danger is-light'>
							<button class='delete'></button>
							{{errorMessage}}
						</div>
					{{/if}}
					{{#if message}}
						<div class='notification is-success'>
							<button class='delete'></button>
							Account created successfuly. You can now Sign In.
						</div>
					{{/if}}
				</div>
				<div class='field'>
					<p class='control has-icons-left has-icons-right'>
						<input class='input is-medium' type='text' name='username' placeholder='Username' />
						<span class='icon is-small is-left'>
							<i class='fas fa-user'></i>
						</span>
					</p>
				</div>
			</div>
			<div class='column'>
				<div class='field'>
					<p class='control has-icons-left'>
						<input class='input is-medium' type='password' name='password' placeholder='Password' />
						<span class='icon is-small is-left'>
							<i class='fas fa-lock'></i>
						</span>
					</p>
				</div>
			</div>
			<div class='column is-flex is-justify-content-center'>
				<div class='field'>
					<p class='control'>
						<button class='button is-success'>
							Login
						</button>
					</p>
				</div>
			</div>
			<div class='column is-flex is-justify-content-center has-text-centered is-size-5'>
				<div class='field'>
					<p>Dont have an account?</p>
					<a href='/register'>Register</a>
				</div>
			</div>
		</div>
	</div>
</form>
