<div class='container'>
	<nav class='level'>
		<div class='level-item has-text-centered'>
			<div class='my-6'>

				<h1 class='subtitle is-1 my-6'>{{session.currentUser.username}}</h1>

			</div>
		</div>

	</nav>
</div>
